:root {
  scroll-behavior: smooth;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  padding: 0 1rem;
}

.background-blob {
  background-image: url("molecule-blob.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.page-heading {
  z-index: 1;
  color: var(--fart-white);
}

.hero .page-heading {
  color: var(--fart-primary);
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 3rem;
  margin: 2rem auto;
}

.project {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--fart-darker-dark-primary);
}

.blog-post-preview-list {
  display: grid;
  gap: 2rem;
}

.middle-navbar {
  display: none;
}

@media (min-width: 512px) {
  .middle-navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  background-color: rgba(15, 42, 15, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 0 auto;
  padding: 0 1rem;
}

nav > div {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
  background-color: var(--fart-dark-primary);
  margin: 0 auto;
  padding: 0 1rem;
}

.fart-cta {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: #fff;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  background: #4a8c56;
  text-decoration: none;
}

.fart-cta:hover {
  color: #fff;
  background: #5aa366;
  box-shadow:
    0 20px 25px -5px rgba(74, 140, 86, 0.4),
    0 10px 10px -5px rgba(74, 140, 86, 0.1);
}

.hero .fart-cta {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
